@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-full max-w-[1180px] mx-auto
}

@layer components {
  .highlight {
    @apply text-blue-400 font-semibold
  }

  .section-title {
    @apply text-3xl text-gray-50 tracking-wider font-semibold
  }

  .active-tab {
    @apply bg-blue-700 border-gray-100
  }

  .hidden-tab-content {
    @apply absolute invisible pointer-events-none
  }

  .cursor-panda {
    cursor: url('../../images/pandas/panda-staring.gif'), copy;
  }

  .john-petros-and-panda {
    transform: perspective(1000px) rotateY(13deg) rotateX(5deg) rotate(1deg) scaleY(0.9) scaleX(0.95) translate(3%) translateY(-3%);
    cursor: pointer;
    transition: all;
    transition-duration: 500ms;
  }
}